<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>servlet.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdministrateurServlet</servlet-name>
    <servlet-class>servlet.AdministrateurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DigitalServlet</servlet-name>
    <servlet-class>servlet.DigitalSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmpruntServlet</servlet-name>
    <servlet-class>servlet.EmpruntServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LivreServlet</servlet-name>
    <servlet-class>servlet.LivreSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>servlet.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LivreCreerServlet</servlet-name>
    <servlet-class>servlet.LivreCreerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>servlet.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UtilisateurCreerServlet</servlet-name>
    <servlet-class>servlet.UtilisateurCreerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdministrateurServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DigitalServlet</servlet-name>
    <url-pattern>/digital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpruntServlet</servlet-name>
    <url-pattern>/emprunt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreServlet</servlet-name>
    <url-pattern>/livre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/utilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreCreerServlet</servlet-name>
    <url-pattern>/creer_livre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurCreerServlet</servlet-name>
    <url-pattern>/creer_utilisateur</url-pattern>
  </servlet-mapping>
</web-app>
